{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0,
    "react/jsx-filename-extension": 0
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
